<section class="card">
  <div class="card-body">
    <h1>Sobre</h1>
    <p>
      Desarrollador de software con experiencia en diseño, instalaciòn, pruebas y mantenimiento de sistemas de software. Dominio de varias plataformas, lenguajes y sistemas integrados. experiencia en las herramientas y procedimientos de desarrollo más vanguarditas. Capaz de autogestión eficaz en proyectos independientes. Buenas habilidades de autoaprendizaje y colaboraciòn dentra de un equipo productivo.
    </p>
  </div>
</section>
