<div class="card card-body p-5 mt-4">
  <h1 class="display-4">App de notas Nodejs y Mongodb!</h1>
  <p class="lead">Una aplicación sencilla para gestionar notas desarrollada con Nodejs, Express,
    Tecnologías Mongodb y Javascript</p>
  <hr class="my-4" />
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
    doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrarse</a>
  </div>
</div>